
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'lemonmilk', sans-serif;
    font-weight: 400;
}

body {
    font-family: 'apple', sans-serif;
    background-color: #ccc;
    color: #333;
}

p {
    font-size: 18px; 
    font-family: 'apple', sans-serif;
    line-height: 28px;
    color: #555;
    margin: 0;
    text-align: justify;
}


.header {
    font-family: 'lemonmilk', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #333;
}

.logo {
    font-size: 24px;
    font-weight: 1;
    color: white;
    margin: 0;
}

.logo a {
    text-decoration: none;
    color: white;
}

.nav-menu {
    display: flex;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #555;
    border-radius: 5px;
}


.section-heading {
    font-family: 'lemonmilk', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: #000000;
    margin-bottom: 40px;
    letter-spacing: 10px;
    text-align: left; 
}

section {
    width: 100%;
    padding: 40px 50px 40px;
    text-align: left;
    background-color: #fff;
    margin-bottom: 25px;
}

.section-1 {
    margin-top: 25px;
    font-size: 20px;
}

.text-section1 {
    margin-top: 15px;
    font-size: 18px;
}


.about-us-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: #fff;
    gap: 20px;
}

.about-us-section.left {
    flex-direction: row; 
}

.about-us-section.right {
    flex-direction: row-reverse; 
}

.about-us-section .section-img {
    flex: 1;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-us-section .text {
    flex: 1;
    text-align: justify;
}

.about-us-section .text h3 {
    font-size: 22px;
    margin-bottom: 10px;
    text-align: left; 
}

.about-us-section .text p {
    font-size: 18px;
    line-height: 28px;
    color: #555;
}


@media (max-width: 1024px) {
    
    .header {
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }

    .logo {
        font-size: 22px;
    }

    .nav-menu {
        margin-top: 15px;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin-bottom: 10px;
    }

    .section-heading {
        font-size: 26px;
        letter-spacing: 6px;
    }

    .section-img {
        max-width: 300px;
    }

    .text h3 {
        font-size: 20px;
    }

    .text p {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    
    .about-us-section.left {
        flex-direction: column; 
        text-align: center; 
        margin-bottom: 15px;
    }

    .about-us-section.left .section-img {
        max-width: 100%; 
        margin: 0 0 20px; 
    }

    .about-us-section.left .text {
        font-size: 14px; 
    }

    .about-us-section.left .text h3 {
        font-size: 18px; 
        margin-bottom: 10px; 
    }

    .about-us-section.left .text p {
        font-size: 14px; 
        line-height: 22px;
    }

    .about-us-section.right {
        flex-direction: column; 
        text-align: center; 
    }

    .about-us-section.right .section-img {
        max-width: 100%; 
        margin: 0 0 20px; 
    }

    .about-us-section.right .text {
        font-size: 14px; 
    }

    .about-us-section.right .text h3 {
        font-size: 18px; 
        margin-bottom: 10px; 
    }

    .about-us-section.right .text p {
        font-size: 14px; 
        line-height: 22px;
    }

    
    @media (max-width: 480px) {
        .about-us-section.left .section-img {
            max-width: 90%; 
            margin: 0 auto 10px; 
        }

        .about-us-section.left .text {
            font-size: 12px; 
        }

        .about-us-section.left .text h3 {
            font-size: 16px; 
        }

        .about-us-section.left .text p {
            font-size: 12px; 
            line-height: 20px;
        }
    }
}


footer {
    font-family: "apple", sans-serif;
    text-align: center; 
    padding: 20px 30px; 
    background-color: #333; 
    color: #fff;
    width: 100%; 
    position: relative;
    bottom: 0;
}

footer p {
    text-align: center;
    color: white;
    font-size: 14px;
    margin: 0; 
}


@font-face {
    font-family: 'lemonmilk';
    src: url('fonts/Vogue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apple';
    src: url('fonts/AppleGaramond-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
